.loading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;

  font-family: var(--poppins), sans-serif;
  font-size: 2rem;

  &:has(> .boom) {
    color: var(--flag-pink);
  }

  & > :is(.brick, .boom) {
    margin: 1ch;
    user-select: none;
  }

  & code {
    display: block;
    max-width: 100vw;
    text-wrap: wrap;
  }
}

@keyframes speen {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .loading > .brick {
    animation: speen 1s linear 0s infinite forwards;
  }
}
