.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-right: 1.4rem;
  gap: 0.7rem;

  .treeToggle {
    width: 40px;
    height: 40px;
    align-self: center;
    transform: translate(0.7rem);
    display: var(--tree-drawer-display);
  }

  .toolbarTabs {
    flex-shrink: 0;
  }

  .toolbarHeadsInfo {
    margin-inline: auto 0;
    align-self: center;
    font-family: var(--ntr), sans-serif;
    font-size: 14px;
    text-align: right;

    & > span:not(:has(code)) {
      line-height: 13.5px;
    }

    & > span:has(code) {
      line-height: 12px;
    }

    & > span {
      display: block;

      & > code {
        font-size: 12px;
      }
    }

    .divergent {
      color: var(--mui-theme-error);
    }
  }

  .toolbarButtonsScroll {
    flex-shrink: 1;

    .toolbarButtons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: 0.7rem;
    }
  }
}
